<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
    <a
      *ngFor="let producto of productoItems.producto"
      [routerLink]="['/item', producto.cod]"
      class="rk-item ae-masonry__item"
    >
      <img
        src="assets/productos/{{ producto.url }}.jpg"
        [routerLink]="['/item', producto.cod]"
        alt=""
      />
      <div class="item-meta">
        <h2>{{ producto.titulo }}</h2>
        <p>{{ producto.categoria }}</p>
      </div>
    </a>
  </div>
</section>
